footer {
  position: absolute;
  padding: 12px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color)
}

.github-info {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: white;
  transition: ease-in 100ms;

  svg {
    opacity: .8;
  }
}

.github-info:hover {
  text-decoration: underline;

  svg {
    opacity: 1;
  }
}
